
.profile-img {
   width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
}

/* floating animation */
.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
html {
  scroll-behavior: smooth;
}
.navbar .nav-link {
  color: #ddd;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: #fff;
}
