#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}
.floating {
  animation: float 0.8s ease-out forwards;
}
@keyframes float {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.resume-section {
  padding: 20px 0;
}
.btn-dark:hover {
  background-color: #38bdf8;
}
.btn-outline-info {
  border-color: #c2d3db;
  color: #7dd3fc;
}
.btn-outline-info:hover {
  background-color: #38bdf8;
  color: #e5e7eb;
}
.technologies{
  background-color: #f5f5f5;
}
.layout {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
}
.sidebar {
  width: 390px;
  background: #f5fbff;
  padding: 30px 20px;
  position: sticky;
  top: 80px;
  height: fit-content;
  border:none;
  text-align: center;
  margin: 20px;
  border-radius: 2%;
}
.sidebar-img {
  width: 270px;
  height: 270px;
  border-radius: 2%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.25);
}
.sidebar-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-content {
  flex: 1;
  padding: 0 20px;
}
@media (max-width: 992px) {
  .layout {
    margin-top: 10px;
    flex-direction: column;
  }
  .sidebar {
    position: relative;
    width: 100%;
    max-width: 360px;
    border-right: none;
    margin-top: 1px;
  }
  .sidebar-img {
    width: 120px;
    height: 120px;
  }
}
.sidebar-link {
  text-decoration: none;
  font-size: 15px;
  color: #0f172a;
  font-weight: 500;
  transition: color 0.2s ease;
}
.sidebar-link:hover {
  color: #38bdf8;
  text-decoration: underline;
}
.right {
   background-color: #0f172a;
    color: #e5e7eb;
}
.skilllist{
    color: #0f172a;
}
.hig {
    color: #38bdf8;
}